/* Created by: Stella S
* Created on: May 2022
* This CSS file defines the style for index.html
* Unit5-03-PHP-Factorial
*/

body {
	background-color: PaleVioletRed;
}

h1 {
  background-color:	#FFB6C1;
}

form {
  background-color: #FFC0CB;
}

label {
  background-color: #FFF0F5;
  color: rgb(0, 0, 0)
}

iframe {
  background-color: #eccbc5;
  color: rgb(0, 0, 0)
}